<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding a car</title>
</head>
<body>

    <h1>Adding a car</h1>

    <form th:action="@{/cars/add}" method="post" th:object="${newCar}">
        Make: <span><input type="text" th:field="*{make}"></span>
        Model: <span><input type="text" th:field="*{model}"></span>
        Colour: <span><input type="text" th:field="*{colour}"></span>
        Year: <span><input type="text" th:field="*{year}"></span>

        <span><input type="submit" th:value="Save"></span>
    </form>

</body>
</html>
