<!DOCTYPE html>
<html   lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

    <h1>Cars</h1>

    <form th:action="@{/cars}" method="post">
        <span>From: <input type="number" name="from" th:value="${from}"
                           th:min="${minYear}" th:max="${maxYear}">
        </span>
        <span>To: <input type="number" name="to" th:value="${to}"
                         th:min="${minYear}" th:max="${maxYear}">
        </span>
        <span>
            <input type="submit" th:value="Search">
        </span>
        <span>
            <a th:href="@{/cars}">List all</a>
        </span>
        | <span>
            <a th:href="@{/cars/add}">Add a car</a>
        </span>
    </form>

    <ol>
        <li th:each="car : ${cars}">
            <span th:text="${car.make} + ' '"></span>
            <span th:text="${car.model} + ', '"></span>
            <span th:text="${car.colour} + ', '"></span>
            <span th:text="${car.year} + ' | '"></span>
            <span><a th:href="@{/cars/delete(id=${car.id} )}">Delete</a></span>
        </li>
    </ol>

</body>
</html>
